.countryCodesComponent {
  text-align: center;
  //margin: auto;

}

@media screen and (min-width: 500px) {
  .countryCodesTable {
    width: 450px !important;
  }
}

.countryCodesTable {
  margin: auto;
  //text-align: center;
  //margin-left: 33%;
  padding-left: 30px;
  width: 250px;

  tbody {
    text-align: left;


    td {
      padding: 7px;
      padding-left: 10px;
      padding-bottom: 0px;
      border-bottom: 1px solid darkgray;
    }
    .cname {
      float: left;
      line-height: 38px;
      vertical-align: middle;
    }
    .ccode {
      float: right;
      line-height: 38px;
      vertical-align: middle;
    }

    .cflag {
      display: inline;
      float: left;
      padding-left: 0;
      padding-right: 1em;
    }
  }

}
