
#about-row {
  padding: 0px;
  padding-bottom: 40px;
}

#die-options-row {

}

.dice-row {
  display: inline-block;
  padding: 30px;
  h1 {
    display: inline;
    padding: 10px;
  }
}

#dices-row {
  min-height: 160px;
}

#roll-row {

}

#btn-addDie {
  margin: 15px;

}

#select-die-eyes {
  width: 40%;
}

#btn-roll {

}
