<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>React tools</title>
  <meta name="description" content="A static react starter">
  <meta name="author" content="UnusefulTools">

  <link rel="stylesheet" href="/public/base.css">
</head>

<body>
  <div id="wrapper" >
    {% include "header.nunjucks" %}
    <div class="centerContent">
      <h1>Static site generator with React</h1>
      <a href="/example-tool">Example page #1</a>
      <a href="/week-number">Week number</a>
      <a href="/lorum-ipsum">Lorum ipsum</a>
      <a href="/white-noise">White noise</a>
    </div>
    {% include "footer.nunjucks" %}
  </div>
</body>
</html>
