{% extends "tool.nunjucks" %}

{% block styles %}
  <meta name="apple-mobile-web-app-title" content="Cooking">
  <meta name="application-name" content="Cooking">

  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/cooking/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/cooking/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/cooking/favicon/favicon-16x16.png">
  <link rel="manifest" href="/public/cooking/favicon/manifest.json">

  <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  <link rel="stylesheet" href="/public/tools/{{toolPath}}/style.css">
  <script src="https://use.fontawesome.com/872ea6265a.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
{% endblock %}
